.tsv3-c-ts-toplogo--layout-pc .tsv3-c-ts-toplogo__logo > a {
    border: 0;
    background-image: url(/images/turunsaatanatred.png);
    background-repeat: no-repeat;
    width: 321px;
    height: 49px;
    display: block;
}

.tsv3-c-ts-toplogo--layout-mobile .tsv3-c-ts-toplogo__logo>a {
    border:0;
    background-image:url(/images/turunsaatanatred.png);
    background-repeat:no-repeat;
    background-size:contain;
    width:240px;
    height:50px;
    display:block;
    margin:10px auto 0 auto
   }
   