.tsv3-c-ts-topmenu__logo > a:nth-child(1) {
    border: 0;
    background-image: url(/images/turunsaatanatred.png);
    background-repeat: no-repeat;
    width: 321px;
    height: 32px;
    display: block;
}